USE [master]
GO

/****** Object:  Database [CryptoSwapMaster]    Script Date: 2/3/2019 5:18:40 PM ******/
CREATE DATABASE [CryptoSwapMaster]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CryptoSwapMaster', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CryptoSwapMaster.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CryptoSwapMaster_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\CryptoSwapMaster_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CryptoSwapMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


USE [CryptoSwapMaster]
GO
/****** Object:  Table [dbo].[ExchangeOrders]    Script Date: 2/7/2019 6:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExchangeOrders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[ExchangeOrderId] [nvarchar](200) NULL,
	[Symbol] [nvarchar](10) NOT NULL,
	[Side] [nvarchar](10) NOT NULL,
	[BaseQty] [decimal](18, 8) NOT NULL,
	[QuoteQty] [decimal](18, 8) NOT NULL,
	[Status] [int] NOT NULL,
	[StatusMsg] [nvarchar](1000) NULL,
	[Created] [datetime] NOT NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logs]    Script Date: 2/7/2019 6:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Logger] [varchar](255) NOT NULL,
	[Level] [varchar](50) NOT NULL,
	[Thread] [varchar](255) NOT NULL,
	[Message] [varchar](4000) NOT NULL,
	[Exception] [varchar](2000) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2/7/2019 6:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[BaseAsset] [nvarchar](10) NOT NULL,
	[Pool] [int] NOT NULL,
	[Type] [varchar](20) NOT NULL,
	[BaseQty] [decimal](18, 8) NOT NULL,
	[ExecutedBaseQty] [decimal](18, 8) NULL,
	[QuoteAsset] [nvarchar](10) NOT NULL,
	[ExpectedQuoteQty] [decimal](18, 8) NOT NULL,
	[ReceivedQuoteQty] [decimal](18, 8) NULL,
	[Status] [int] NOT NULL,
	[StatusMsg] [nvarchar](1000) NULL,
	[Created] [datetime] NOT NULL,
	[LastModified] [datetime] NULL,
 CONSTRAINT [PK__Orders__3214EC072F3EFAE3] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuoteAssets]    Script Date: 2/7/2019 6:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuoteAssets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Asset] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2/7/2019 6:22:54 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ip] [nvarchar](25) NOT NULL,
	[ApiKey] [nvarchar](100) NOT NULL,
	[SecretKey] [nvarchar](100) NOT NULL,
	[BotStatus] [int] NOT NULL,
	[BotStatusMsg] [nvarchar](1000) NULL,
	[Created] [datetime] NOT NULL,
	[LastModified] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UK_Users_ApiKey] UNIQUE NONCLUSTERED 
(
	[ApiKey] ASC,
	[SecretKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_IsStopLoss]  DEFAULT ('Limit') FOR [Type]
GO
ALTER TABLE [dbo].[ExchangeOrders]  WITH CHECK ADD  CONSTRAINT [FK_ExchangeOrders_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[ExchangeOrders] CHECK CONSTRAINT [FK_ExchangeOrders_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Users]
GO
ALTER TABLE [dbo].[QuoteAssets]  WITH CHECK ADD  CONSTRAINT [FK_QuoteAssets_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[QuoteAssets] CHECK CONSTRAINT [FK_QuoteAssets_Users]
GO
